In [1]:
# Creating Strings

In [2]:
'Cybersecurity'

'Cybersecurity'

In [3]:
#Entire Phrase
'Cyber Testing'

'Cyber Testing'

In [4]:
#Using double quotes inside a String
"I'm a Cybersecurity Engineer!"

"I'm a Cybersecurity Engineer!"

In [6]:
#Print Statement to Print a String
print('Cybersecurity 1')
print('Cybersecurity 2')
print('Use \n to print a new line')
print('\n')
print('IT Support Engineer')

Cybersecurity 1
Cybersecurity 2
Use
 to print a new line


IT Support Engineer

In [11]:
#We can also use a function called len() to check the length of a string
len('OOP: Object-Oriented Programming')

#Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

32

In [21]:
#String Indexing
j = 'Programming'

In [22]:
j

'Programming'

In [23]:
print(j)

Programming

In [24]:
# Show second element (in this case a letter)
j[1]

'r'

In [26]:
#We can use a : to perform slicing which grabs everything up to a designated point.
j[:6]

'Progra'

In [27]:
#Everything
j[:]

'Programming'

In [28]:
#Negative Indexing
j[:-1]

'Programmin'

In [32]:
# Grab everything, but go in steps size of 1
j[::1]

'Programming'

In [31]:
# Grab everything, but go in step sizes of 2
j[::4]

'Pri'

In [34]:
# We can use this to print a string backwards
j[::-1]

'gnimmargorP'

In [ ]:
'''
String Properties
Immutability: once a string is created, the elements within it can not be changed or replaced.
'''

In [35]:
j

'Programming'

In [39]:
#Concatenate Strings
j + ' in Python! '

'Programming in Python! '

In [41]:
#Using multiplication symbol to create repetition!
Device = "T"

In [42]:
Device*15

'TTTTTTTTTTTTTTT'

In [43]:
#Built-in String methods
j

'Programming'

In [44]:
#Upper case a String
j.upper()

'PROGRAMMING'

In [45]:
#Lower case a String
j.lower()

'programming'

In [49]:
j = "I'm using Jupiter"

In [50]:
# Split a string by blank space (this is the default)
j.split()

["I'm", 'using', 'Jupiter']

In [52]:
# Split by a specific element (doesn't include the element that was split on)
j.split('piter')

["I'm using Ju", '']

In [57]:
#Print Formatting
#We can use the .format() method to add formatted objects to printed string statements.
'Print Formatting: {}'.format('Object-Oriented Programming')

'Print Formatting: Object-Oriented Programming'